<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>welcome to profile {{name}}s</h1>
    <table>
        {% for object in unactiveuser %}
        <tr>
            <td>{{ object.user }}</td>
            <br>
            <td><a href="{% url 'requestaccept' object.id %}" class="btn btn-warning btn-sm">approver</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <a href=" {% url 'tasks' %}">Task Add</a>
   <br>
   <br>
   <a href=" {% url 'tasksboard' %}">task Board</a>
   <br>
   <br>
    <a href=" {% url 'logout' %}">logout</a>

</body>

</html>